/* GENERAL STYLES */
*,
h1,
h2,
h3,
h4 {
    font-weight: 600;
}

/* UTILITIES */

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.img_full_w img {
    width: 100%;
}

/* HEADER */

header {
    font-family: helvetica, arial, sans-serif;
}

.hero,
main,
footer {
    font-family: Arial, Helvetica, sans-serif;
}

.header_top {
    background-color: #000;
}

/* HERO */

.hero {
    height: 60vh;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
}

.hero_content {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/* MAIN */

/* GAME LIST */
.game_list img {
    border-radius: 15px;
    padding: 2px;
}

.game_list img:hover {
    border: 2px solid blue;
}

/* PS5 CONSOLE */

.carosel_img {
    cursor: pointer;
}

.carosel_img img {
    filter: grayscale(1);
}

.carosel_img:hover img {
    filter: grayscale(0);
}

.carosel_img:hover {
    color: #000;
    border-bottom: 3px solid blue;
    border-radius: 3px;
}

/* IT TAKES TWO SECTION */

.game_section {
    height: 60vh;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position-x: center;
}

.game_section_content {
    height: 100%;
    display: flex;
    align-items: center;
}

/* NEW RELEASES */

.new_release img {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
}

/* EXPLORE PS4 */

/* PLAYSTATION PLUS */

.ps_plus {
    background-color: #bfb9b9;
}

/* PS STORE NEW DISCOUNT */

/* PS NOW */

.ps_now {
    background-color: rgb(16, 20, 68);
}