/* GENERAL STYLES */
h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}
/* UTILITIES */

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

/* HEADER */

header {
    font-family: helvetica, arial, sans-serif;
}

.hero,
main,
footer {
    font-family: Arial, Helvetica, sans-serif;
}

.header_top {
    background-color: #000;
}

/* HERO */

.hero {
    height: 60vh;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
}

.hero img {
    width: 100%;
}

.hero_content {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/* MAIN */

/* GAME LIST */
.game_list img {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
}

.game_list img:hover {
    border: 2px solid blue;
}

/* PS5 CONSOLE */

.console_section img {
    width: 100%;
}

.carosel_img {
    cursor: pointer;
}

.carosel_img img {
    filter: grayscale(1);
}

.carosel_img:hover img {
    filter: grayscale(0);
}

.carosel_img:hover {
    color: #000;
    border-bottom: 3px solid blue;
    border-radius: 3px;
}

/* IT TAKES TWO SECTION */

.game_section {
    height: 60vh;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position-x: center;
}

.game_section_content {
    height: 100%;
    display: flex;
    align-items: center;
}

.game_section_content img {
    width: 100%;
}

/* NEW RELEASES */

.new_release img {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
}

/* EXPLORE PS4 */

.explore_ps4 img {
    width: 100%;
}