/* GENERAL STYLES */

/* UTILITIES */

/* HEADER */

header {
    font-family: helvetica, arial, sans-serif;
}

.hero,
main,
footer {
    font-family: Arial, Helvetica, sans-serif;
}

.header_top {
    background-color: #000;
}

/* HERO */

.hero {
    height: 60vh;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
}

.hero img {
    width: 100%;
}

.hero_content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.1);
}

/* MAIN */

/* GAME LIST */
.game_list img {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
}

.game_list img:hover {
    border: 2px solid blue;
}